---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="">
    <div class="list">
      <p class="headingMd">
        I'm a software developer. I enjoy working in rust, python and js.
      </p>
      <p class="headingMd pt-4">
        I like to build full-stack applications using rust, including games,
        websites, desktop apps, languages and more.
      </p>
      <p class="headingMd pt-4">
        I'm open to new projects, feel free to reach out to me on <a
          href="https://x.com/jeremyarde">twitter</a
        >,
        <a href="mailto:jere.arde@gmail.com">email</a> or <a
          href="https://www.linkedin.com/in/j-arde/">linkedin</a
        >.
      </p>
      <p class="headingMd pt-4">
        Browse my <a href="https://github.com/jeremyarde">github</a>.
      </p>
    </div>
  </div>
</Layout>
