---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <div class="container">
        <header class="header">
          <h2 class="headingXl">
            <a href="/" class="colorInherit">{SITE_TITLE}</a>
          </h2>
          <nav>
            <a class="nav" href="/blog"> blog </a>
            <a class="nav" href="/projects"> projects </a>
          </nav>
        </header>
        <div>
          <h1 class="heading2Xl">Hi</h1>
        </div>
      </div>
      <Footer />
    </main>
  </body>
</html>
