---
import Layout from "../../layouts/Layout.astro";
import ProjectComponent from "../../components/ProjectComponent.astro";

export type Project = {
  project_title: string;
  site_url: string;
  github_url: string;
  date: string;
  description: string;
  imagePath: string | undefined;
  technical_details: string;
};

const projectDetails: Project[] = [
  {
    project_title: "Blackball",
    site_url: "https://jeremyarde.github.io/blackballgame/",
    github_url: "https://github.com/jeremyarde/blackballgame",
    date: "2024-03 - 2024-12",
    description:
      "A card game similar to hearts. Players are dealt cards and bid on how many hands they can win.",
    imagePath: "/src/assets/bbgame.png",
    technical_details:
      "Website built with Dioxus (Rust UI framework). Server built with in Rust (axum, tokio). Website connects to the server via websocket, server handles game logic, syncing between players and validates moves.",
  },
];

// const { imagePath } = Astro.props;
// const images = import.meta.glob<{ default: ImageMetadata }>(
//   "/src/assets/*.{jpeg,jpg,png,gif}"
// );
---

<Layout>
  <div class="flex flex-col items-center max-w-6xl">
    <h1 class="pt-16 pb-6 text-2xl title">projects</h1>
    <ul class="flex flex-col gap-8 w-full">
      {
        projectDetails.map((project: Project) => (
          <ProjectComponent imagePath={project.imagePath} project={project} />
        ))
      }
    </ul>
  </div>
</Layout>
