---
import BaseHead from "../components/BaseHead.astro";
import GlobalStyles from "../components/GlobalStyles.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

interface Props {
  title?: string;
  description?: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <GlobalStyles />
  </head>
  <body>
    <main>
      <div class="container">
        <header class="header">
          <h2 class="headingXl">
            <a href="/" class="colorInherit">{SITE_TITLE}</a>
          </h2>
          <nav>
            <a class="nav" href="/personal-site-2025/blog">blog</a>
            <a class="nav" href="/personal-site-2025/projects">projects</a>
          </nav>
        </header>
        <slot />
      </div>
    </main>
  </body>
</html>
